.notification_popups_widget_container {
  // spacing between screens edge and notifications
  padding: 6pt;
  // spacing between notifications caluclated in pt
  > * { margin-bottom: 6pt; }
}

.notification_popups_container {
  //border: 1pt lightslategrey solid;
  border-radius: 8pt;
  min-width: 325pt;

  .notification_popups_topbar_container {
    background-color: $bg1;
    border-radius: 8pt 8pt 0 0;
    padding: 8pt 10pt;
  
    .notification_popups_label_title { font-weight: bold; }
  }

  .notification_popups_body_container {
    background-color: $bg2;
    border-radius: 0 0 8pt 8pt;
    padding: 8pt 10pt;

    .notification_popups_icon {
      font-size: 40pt;
      background-color: transparent;
    }

    .notification_popups_label_summary { font-weight: bold; }

    // space between icon & summary/body text
    > box:first-child > *:not(:first-child) { margin-left: 8pt; }
    > *:not(:first-child) { margin-top: 8pt; }
  }
}

.notification_popup_inside_container_urgency_critical { border-color: brown; }

.notification_popups_action_button_container {
  .notification_popups_action_button {
    background-color: $bg3;
    padding: 7pt 10pt;
    border: 1pt #0008 solid;
  }

  > *:not(:first-child) { margin-left: 4pt; }
  *:first-child { border-radius: 8pt 0 0 8pt; }
  *:last-child { border-radius: 0 8pt 8pt 0; }
}
