$topbar_widget_max_height: 24pt;

.topbar {
  background-color: #000;

  > .topbar_container {
    margin: 4pt 0;

    // spacing between widgets calculated in PT
    > * > *:not(:first-child) {
      margin-left: 4pt;
    }
  }
}

@import 'os_logo';
@import 'workspaces';
@import 'datetime';
@import 'systray';
@import 'sysmetrics';
@import 'weather';
