.topbar_submodules_weather_widget {
  min-height: $topbar_widget_max_height;
  border-radius: $topbar_widget_max_height * .1;
  padding: 0 6pt;

  .topbar_submodules_weather_widget_celsius {
    font-size: $topbar_widget_max_height * 0.4;
    margin-bottom: $topbar_widget_max_height * 0.2;
  }

  label { font-weight: bold; }
  
  // icon - label spacing calculated in pt 
  > *:not(:first-child) { margin-left: 4pt; }

  image { font-size: $topbar_widget_max_height * .7; }
}